{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">

<p>
    <h1>Infinity-Box</h1>
     The Infinity-Box makes 3D printing simple enough for anyone to use it.  The idea is to make a 3D-printing as easy and simple to use as any home appliance.  You simply select what you would like to print and the quality and the machine does the rest. <br></br>
     There are easy buttons to change the plastic type, extruder, bed tempatures.  The best part is that everything is linked to the website so as users upload objects and add configuration files every Infinity-Box will be upgraded as well.  This will help to ensure it works better and better.  


    <h2>What can I print?</h2>
    The 3DPrince has a large collection of the most useful and commmon 3D printable objects.  Whether your printing an air conditioner, a Ukalele, or some shoes we can guarantee there is something for everyone.  Create an account online to simplify the process of printing a custom designed object, or submit your own useful objects for the world to enjoy! 

       

    <h2> What material choice are there? </h2>
    The best plastic to start with is PLA. The Infinity-Box can accept many plastics, and as users continue to add configuration files the types of plastics it readily accepts will increase. 


    </p>

</div>

{% endblock %}


