{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">

<p>
    <h1>What is 3D Printing?*</h1>
    
<div class="h3d-section">
<div class="h3d-101-article__body h3d-101-article__body--drop-cap">
<p>3D Printing is an additive manufacturing process that creates a physical object from a digital design. There are different 3D printing technologies and materials you can print with, but all are based on the same principle: a digital model is turned into a solid three-dimensional physical object by adding material layer by layer.</p>
<p>This is an overview of the most common consumer level 3D printing machines. There are many additional options for industrial equiptment that will only be briefly mentioned in this. </p>
</div>
</div>
<section data-navigation-section="basics"><header class="h3d-section h3d-section--primary h3d-section--side-padding h3d-section--rounded">
<h1 class="h1"><span data-section-title="">The Basics</span> <a id="basics" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#basics"></a></h1>
</header>
<article class="h3d-section h3d-section--unspaced-bottom" data-navigation-subsection="how-does-3d-printing-work">
<div class="h3d-101-article__body">
<h2 class="h3d-101-article__title">How does 3D printing work?<a id="how-does-3d-printing-work" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#how-does-3d-printing-work"></a></h2>
<p>Every 3D print starts as a digital 3D design file &ndash; like a blueprint &ndash; for a physical object. Trying to print without a design file is like trying to print a document on a sheet of paper without a text file. This design file is sliced into thin layers which is then sent to the 3D printer.</p>
</div>
<div class="h3d-101-article__body">
<p>From here on the printing process varies by technology, starting from desktop printers that melt a plastic material and lay it down onto a print platform to large industrial machines that use a laser to selectively melt metal powder at high temperatures. The printing can take hours to complete depending on the size, and the printed objects are often post-processed to reach the desired finish.</p>
<p>Available materials also vary by printer type, ranging from plastics to rubber, sandstone, metals and alloys - with more and more materials appearing on the market every year.</p>
</div>
</article>
<article class="h3d-section h3d-section--unspaced-bottom" data-navigation-subsection="a-brief-history-of-3d-printing">
<div class="h3d-101-article__body">
<h2 class="h3d-101-article__title">A Brief History of 3D Printing<a id="a-brief-history-of-3d-printing" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#a-brief-history-of-3d-printing"></a></h2>
<p>Although 3D printing is commonly thought of as a new &lsquo;futuristic&rsquo; concept, it has actually been around for more than 30 years.</p>
</div>
<div class="h3d-101-article__body h3d-101-article__media"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/basics/first-3d-printer.jpg" alt="The first 3D Printer" data-lazy-load="" />
<div class="h3d-101-article__caption">SLA-1, the first 3D printer invented by Chuck Hull in 1983</div>
</div>
<div class="h3d-101-article__body">
<br></br><p>Chuck Hull invented the first 3D printing process called &lsquo;stereolithography&rsquo; in 1983. In a patent, he defined stereolithography as &lsquo;a method and apparatus for making solid objects by successively &ldquo;printing&rdquo; thin layers of the ultraviolet curable material one on top of the other&rsquo;. This patent only focuses on &lsquo;printing&rsquo; with a light curable liquid, but after Hull founded the company &lsquo;3D Systems&rsquo;, he soon realized his technique was not limited to only liquids, expanding the definition to &lsquo;any material capable of solidification or capable of altering its physical state&rsquo;. With this, he built the foundation of what we now know today as additive manufacturing (AM) &ndash; or 3D printing.</p>
<p>So, why all the 3D printing hype today?</p>
</div>
<div class="h3d-101-article__body h3d-101-article__media"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/basics/graph-sales-printers.jpg" alt="The first 3D Printer" data-lazy-load="" />
<div class="h3d-101-article__caption">Estimated 3D printer sales per year from 2007 to 2015. Source: Wohler&rsquo;s Report 2015; Gartner</div>
</div>
<div class="h3d-101-article__body">
<br></br><p>Until 2009 3D printing was mostly limited to industrial uses, but then the patent for fused deposition modeling (FDM) &ndash; one of the most common 3D printing technologies &ndash; expired.</p>
<p>Through the RepRap project&rsquo;s mission to build a self-replicating machine, the first desktop 3D printer was born. As more and more manufacturers followed, what once cost $200,000 suddenly became available for below $2000, and the consumer 3D printing market took off in 2009.</p>
<aside class="h3d-101-article__callout h3d-101-article__callout--right">UNTIL 2009 3D PRINTING WAS MOSTLY LIMITED TO INDUSTRIAL USES, BUT THEN PATENTS STARTED EXPIRING</aside>
<p>3D printer sales have been growing ever since, and as additive manufacturing patents continue to expire, more innovations can be expected in the years to come. There are now roughly 300,000 consumer 3D printers in the world &ndash; and this figure is doubling every year.</p>
</div>
<div class="h3d-101-article__body h3d-101-article__media">
<div class="h3d-video-embed">&nbsp;</div>

</article>
<article class="h3d-section h3d-section--unspaced-bottom" data-navigation-subsection="the-pros-and-cons-of-3d-printing">
<div class="h3d-101-article__body">
<h2 class="h3d-101-article__title">The Pros and Cons of 3D Printing<a id="the-pros-and-cons-of-3d-printing" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#the-pros-and-cons-of-3d-printing"></a></h2>
<p>It&rsquo;s crucial to understand that 3D printing is a rapidly developing technology, which comes with its set of inherent benefits, but also lags behind traditional manufacturing processes in some aspects. We collected examples from both sides to help you get a grasp of these factors and to see where the technology is headed in the near future.</p>
</div>
<div class="h3d-swagrid">
<div class="h3d-swagrid__column h3d-swagrid__column--small-12 h3d-swagrid__column--medium-10 h3d-swagrid__column--medium-offset-1">
<ul class="h3d-list">
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--primary">Pro</span> Create complex designs</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--primary">Pro</span> Customize each and every item</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--primary">Pro</span> No need for tools and molds, lower fixed costs</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--primary">Pro</span> Speed and ease of prototyping, faster and less risky route to market</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--primary">Pro</span> Less waste</div>
</div>
</li>
</ul>
<ul class="h3d-list">
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--secondary">Con</span> Higher cost for large production runs</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--secondary">Con</span> Less material choices, colors, finishes</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--secondary">Con</span> Limited strength and endurance</div>
</div>
</li>
<li class="h3d-panel h3d-accordion" data-accordion="">
<div class="h3d-panel__heading h3d-panel__heading--separator h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">
<div class="h4"><span class="h3d-badge h3d-badge--secondary">Con</span> Lower precision</div>
</div>
</li>
</ul>
</div>
</div>
</article>
<article class="h3d-section h3d-section--unspaced-bottom" data-navigation-subsection="who-is-using-3d-printing">
<div class="h3d-101-article__body">
<h2 class="h3d-101-article__title">Who is using 3D printing?<a id="who-is-using-3d-printing" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#who-is-using-3d-printing"></a></h2>
<p>One of the greatest things about 3D printing is that it can be beneficial for anyone, regardless of industry or profession. Here we collected some common examples to show how people use 3D printing and why they chose the technology as their preferred prototyping of manufacturing method for specific use cases.</p>
</div>
<div class="h3d-section h3d-section--medium h3d-section--unspaced-top">
<div class="h3d-swagrid">
<div class="h3d-swagrid__column h3d-swagrid__column--small-12 h3d-swagrid__column--medium-10 h3d-swagrid__column--medium-offset-1">
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">CAR MANUFACTURERS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">DOCTORS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">DENTISTS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">PROSTHETICS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">AIRCRAFT MANUFACTURERS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">AEROSPACE COMPANIES</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">PROP MAKERS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">PRODUCT DESIGNERS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">ARCHITECTS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">STUDENTS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">DESIGN ENTREPRENEURS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">ENGINEERS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">DRONE ENTHUSIASTS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">SHOE MANUFACTURERS</div>
</div>
<div class="h3d-use-case h3d-accordion" data-accordion="">
<div class="h3d-use-case__title h3d-accordion__toggle h3d-accordion__toggle--left" data-accordion-toggle="">CONSUMER PRODUCT MAKERS</div>
</div>
</div>
</div>
</div>
</article>
</section>
<section data-navigation-section="technologies"><header class="h3d-section h3d-section--primary h3d-section--side-padding h3d-section--rounded">
<div class="h1"><span data-section-title="">Technologies</span> <a id="technologies" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#technologies"></a></div>
<h1 class="h2">How do the different 3D printing technologies work?</h1>
</header>

<div class="h3d-101-article__body h3d-101-article__media" data-navigation-subsection="additive-manufacturing-infographic"><a id="additive-manufacturing-infographic" class="h3d-101-article__anchor u-hidden" href="https://www.3dhubs.com/what-is-3d-printing#additive-manufacturing-infographic"></a>
<div class="h3d-expandable-image" data-ng-style="{ backgroundImage: 'url(' + vm.image + '--medium.png)' }">
<div class="h3d-101-article__body">
<p>All 3D printing technologies create physical objects from digital designs layer by layer, but each using its own method.  How do these technologies work exactly and what does their output look like? What are the benefits of each process and what are the flaws?</p>
<p>In the following section, we&rsquo;ll be introducing the most common 3D printing technologies in detail.</p>
</div>
<article class="h3d-section h3d-section--unspaced-bottom" data-navigation-subsection="fdm">
<div class="h3d-101-article__body">
<h2 class="h3d-101-article__title">Fused Deposition Modeling (FDM)<a id="fdm" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#fdm"></a></h2>
</div>
<div class="h3d-101-article__body h3d-101-article__media">
<div class="h3d-video-embed">&nbsp;</div>
</div>
<div class="h3d-101-article__body">
<div class="h3d-101-article__callout">THE MOST COMMON TECHNOLOGY FOR DESKTOP 3D PRINTING; GREAT FOR QUICK AND LOW-COST PROTOTYPING<span class="sr-only">.</span></div>
<p>The FDM printing process starts with a string of solid material called the filament. This line of filament is guided from a reel attached to the 3D printer to a heated nozzle inside of the 3D printer that melts the material. Once in a melted state, the material can be extruded on a specific and predetermined path created by the software on the computer. As the material is extruded as a layer of the object on this path, it instantly cools down and solidifies &ndash; providing the foundation for the next layer of material until the entire object is manufactured.</p>
</div>
<div class="h3d-101-article__body h3d-101-article__media"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/technologies/fdm/fdm-technology.jpg" alt="" />
<div class="h3d-101-article__caption">Schematic of FDM technology</div>
</div>
<div class="h3d-101-article__body">
<p>As the cheapest 3D printing technology on the market, FDM also offers a wide variety of plastic-based materials in a rainbow of colors including ABS, PLA, nylon and even more exotic material blends including carbon, bronze or wood.</p>
<p>FDM is a great choice for quick and low-cost prototyping and can be used for a wide variety of applications. More recent innovations in FDM 3D printing include the ability to manufacture functional end products with embedded electronics and mechanical parts such as drones. Due to some design and material limitations, FDM 3D printing is not recommended for more intricate designs.</p>
</div>

<div class="h3d-slider__slide slick-slide slick-current slick-active" tabindex="-1" data-slick-index="0"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/technologies/fdm/raspberrypi-case.jpg" alt="" data-lazy-load="" />
<div class="h3d-101-article__caption">Sleeve case for the Raspberry Pi B+. Designed by <a tabindex="0" href="http://www.thingiverse.com/thing:604915" target="_blank">walter</a></div>
</div>
<div class="h3d-slider__slide h3d-slider__slide--hidden slick-slide" tabindex="-1" data-slick-index="1"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/technologies/fdm/housing.jpg" alt="" data-lazy-load="" />
<div class="h3d-101-article__caption">Electronics housing prototype</div>
</div>
<div class="h3d-slider__slide h3d-slider__slide--hidden slick-slide" tabindex="-1" data-slick-index="2"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/technologies/fdm/drone.jpg" alt="" data-lazy-load="" />
<div class="h3d-101-article__caption">Mini FPV Tricopter, either 250 or 280 size depending on the arms installed. Designed by <a tabindex="-1" href="http://www.thingiverse.com/thing:526082" target="_blank">EMaglio</a>. Printed by <a tabindex="-1" href="https://www.3dhubs.com/eindhoven/hubs/ken">Ken's Hub</a></div>
</div>
<div class="h3d-slider__slide h3d-slider__slide--hidden slick-slide" tabindex="-1" data-slick-index="3"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/technologies/fdm/house-model.jpg" alt="" data-lazy-load="" />
<div class="h3d-101-article__caption">Architectural scale model of a house printed using PLA and wood materials</div>
</div>
<div class="h3d-slider__slide h3d-slider__slide--hidden slick-slide" tabindex="-1" data-slick-index="4"><img src="https://d2xsqsnb4fq1ex.cloudfront.net/sites/all/themes/hubs3d/images/landingpage/3d-101/technologies/fdm/bronze-busts.jpg" alt="" data-lazy-load="" />
<div class="h3d-101-article__caption">Bust printed using a bronze material blend and post-processed in a tumbler for a polished finish. Designed by <a tabindex="-1" href="http://www.thingiverse.com/thing:108867" target="_blank">Sculptor</a></div>
</div>

</article>

<section data-navigation-section="materials"><header class="h3d-section h3d-section--primary h3d-section--side-padding h3d-section--rounded">
<h1 class="h1"><span data-section-title="">Materials</span> <a id="materials" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#materials"></a></h1>
<p class="h2">What materials can be used for 3D printing?</p>
</header>
<div class="h3d-101-article__body">
<p>When it comes to 3D printing, there are multiple materials to choose from. Looking for the best one for your specific use case? In this section, you&rsquo;ll find the most common 3D printing materials. Learn more about them, compare them side-by-side and pick yours.</p>
</div>
<div class="h3d-section">
<div class="h3d-swagrid ng-scope" data-ng-if="vm.materialGroups" data-same-height-container="">
<div class="h3d-swagrid__column h3d-swagrid__column--small-4 ng-scope" data-ng-repeat="group in ::vm.materialGroups">
<article class="h3d-card h3d-card--center is-selectable" data-ng-click="vm.open(group)" data-same-height="">
<div class="h3d-card__hero" data-ng-style="::{ 'backgroundImage': 'url(' + group.picture.sizes['x-large'] + ')' }">
<div class="h3d-overlay h3d-overlay--20">&nbsp;</div>
<div class="h3d-card__hero-body">
<h2 class="h3d-card__hero-title ng-binding" data-ng-bind="::group.label">General Purpose Plastics</h2>
</div>
</div>
<div class="h3d-card__body">
<p class="ng-binding" data-ng-bind="::group.description">Affordable, durable and widely available plastics like ABS and PLA.</p>
</div>
</article>
</div>
<div class="h3d-swagrid__column h3d-swagrid__column--small-4 ng-scope" data-ng-repeat="group in ::vm.materialGroups">
<article class="h3d-card h3d-card--center is-selectable" data-ng-click="vm.open(group)" data-same-height="">
<div class="h3d-card__hero" data-ng-style="::{ 'backgroundImage': 'url(' + group.picture.sizes['x-large'] + ')' }">
<div class="h3d-overlay h3d-overlay--20">&nbsp;</div>
<div class="h3d-card__hero-body">
<h2 class="h3d-card__hero-title ng-binding" data-ng-bind="::group.label">Food Grade Plastics</h2>
</div>
</div>
<div class="h3d-card__body">
<p class="ng-binding" data-ng-bind="::group.description">FDA approved food safe and dishwasher safe plastics.</p>
</div>
</article>
</div>
<div class="h3d-swagrid__column h3d-swagrid__column--small-4 ng-scope" data-ng-repeat="group in ::vm.materialGroups">
<article class="h3d-card h3d-card--center is-selectable" data-ng-click="vm.open(group)" data-same-height="">
<div class="h3d-card__hero" data-ng-style="::{ 'backgroundImage': 'url(' + group.picture.sizes['x-large'] + ')' }">
<div class="h3d-overlay h3d-overlay--20">&nbsp;</div>
<div class="h3d-card__hero-body">
<div class="h3d-hd-icon h3d-hd-icon--white h3d-hd-icon--large h3d-hd-icon--block h3d-material-shortcut__hd ng-scope" data-ng-if="::group.hd">&nbsp;</div>
<h2 class="h3d-card__hero-title ng-binding" data-ng-bind="::group.label">Rigid Opaque Plastic</h2>
</div>
</div>
<div class="h3d-card__body">
<p class="ng-binding" data-ng-bind="::group.description">Realistic prototypes with excellent details and high accuracy.</p>
</div>
</article>
</div>
<div class="h3d-swagrid__column h3d-swagrid__column--small-4 ng-scope" data-ng-repeat="group in ::vm.materialGroups">
<article class="h3d-card h3d-card--center is-selectable" data-ng-click="vm.open(group)" data-same-height="">
<div class="h3d-card__hero" data-ng-style="::{ 'backgroundImage': 'url(' + group.picture.sizes['x-large'] + ')' }">
<div class="h3d-overlay h3d-overlay--20">&nbsp;</div>
<div class="h3d-card__hero-body">
<div class="h3d-hd-icon h3d-hd-icon--white h3d-hd-icon--large h3d-hd-icon--block h3d-material-shortcut__hd ng-scope" data-ng-if="::group.hd">&nbsp;</div>
<h2 class="h3d-card__hero-title ng-binding" data-ng-bind="::group.label">Rubber-Like Plastic</h2>
</div>
</div>
<div class="h3d-card__body">
<p class="ng-binding" data-ng-bind="::group.description">Simulate rubber with various levels of elasticity.</p>
</div>
</article>
</div>
<div class="h3d-swagrid__column h3d-swagrid__column--small-4 ng-scope" data-ng-repeat="group in ::vm.materialGroups">
<article class="h3d-card h3d-card--center is-selectable" data-ng-click="vm.open(group)" data-same-height="">
<div class="h3d-card__hero" data-ng-style="::{ 'backgroundImage': 'url(' + group.picture.sizes['x-large'] + ')' }">
<div class="h3d-overlay h3d-overlay--20">&nbsp;</div>
<div class="h3d-card__hero-body">
<div class="h3d-hd-icon h3d-hd-icon--white h3d-hd-icon--large h3d-hd-icon--block h3d-material-shortcut__hd ng-scope" data-ng-if="::group.hd">&nbsp;</div>
<h2 class="h3d-card__hero-title ng-binding" data-ng-bind="::group.label">Transparent Plastic</h2>
</div>
</div>
<div class="h3d-card__body">
<p class="ng-binding" data-ng-bind="::group.description">See-through parts and prototypes.</p>
</div>
</article>
</div>
<div class="h3d-swagrid__column h3d-swagrid__column--small-4 ng-scope" data-ng-repeat="group in ::vm.materialGroups">
<article class="h3d-card h3d-card--center is-selectable" data-ng-click="vm.open(group)" data-same-height="">
<div class="h3d-card__hero" data-ng-style="::{ 'backgroundImage': 'url(' + group.picture.sizes['x-large'] + ')' }">
<div class="h3d-overlay h3d-overlay--20">&nbsp;</div>
<div class="h3d-card__hero-body">
<div class="h3d-hd-icon h3d-hd-icon--white h3d-hd-icon--large h3d-hd-icon--block h3d-material-shortcut__hd ng-scope" data-ng-if="::group.hd">&nbsp;</div>
<h2 class="h3d-card__hero-title ng-binding" data-ng-bind="::group.label">Simulated Polypropylene</h2>
</div>
</div>
<div class="h3d-card__body">
<p class="ng-binding" data-ng-bind="::group.description">Durable prototypes that look and behave like polypropylene.</p>
</div>
</article>
</div>


</div>
</div>
</div>
</section>
<section data-navigation-section="getting-started"><header class="h3d-section h3d-section--primary h3d-section--side-padding h3d-section--rounded">
<h1 class="h1"><span data-section-title="">Getting started</span> <a id="getting-started" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#getting-started"></a></h1>
</header>
<div class="h3d-101-article__body">
<p>Ready to join the next industrial revolution? That&rsquo;s the spirit! So, let&rsquo;s see how you can get from an idea to your first 3D print. You&rsquo;ll need a 3D printable design to begin with, and then you can either buy a 3D printer, or use an online service to get you idea materialized. To make it simple, we&rsquo;ll explain all the steps for you.</p>
</div>

<h3 class="h2">Get someone to design for you<a id="get-someone-to-design-for-you" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#get-someone-to-design-for-you"></a></h3>
<p>Do you have friends or colleagues who can design in CAD or another 3D tool? Are there any design or engineering agencies that you know of in town? The first step of making that idea real is to get in touch with somebody who can help you and get the ball rolling.</p>
<p>If not, no worries! Many of our Hubs are also skilled designers and engineers who offer <a href="https://www.3dhubs.com/3dprint#/?modeling">modeling</a> or <a href="https://www.3dhubs.com/3dprint#/?scanning">3D scanning</a> services to help you create and prepare your designs for 3D printing.</p>
<p>Getting started here is easy; simply browse their work on 3D Hubs, contact the one you like, and explain to them your idea and how you would like to have it created.</p>
<div class="h3d-101-article__body">
<h3 class="h2">Find a design online<a id="find-a-design-online" class="h3d-101-article__anchor" href="https://www.3dhubs.com/what-is-3d-printing#find-a-design-online"></a></h3>
<p>If you don&rsquo;t have a 3D file ready for printing, or if you just want to try 3D printing without having to design something, you can also explore multiple content platforms that offer thousands of free 3D printable designs.</p>

<br><p>* This article was adapted from 3D hubs <a href="https://www.3dhubs.com/what-is-3d-printing"> What is 3D printing? </a> and can be visited to see much more information.
</p>
<p>&nbsp;</p>


</div>

{% endblock %}


